joblib~=1.1.0
numpy~=1.23.2
scikit-learn~=1.1.2
pandas~=1.4.4
Flask~=2.2.2
fastapi~=0.81.0
pydantic~=1.10.1
seaborn~=0.13.0
matplotlib~=3.8.0
uvicorn
click
colorama
itsdangerous
Jinja2
# lightgbm
MarkupSafe
python-dateutil
pytz
scipy
six
threadpoolctl
Werkzeug
python-multipart
